p.speech {
    text-align: left;
    font-size: small;
    font-style: normal;
    font-display: black;
}
p.directions {
    text-align: left;
    font-size: smaller;
    font-style: italic;
    font-display: blue;
    background-color: aquamarine;
}
p.Song {
    text-align: left;
    font-size:normal;
    font-style: serif;
    font-display: black;
}
h6.name{
    font-size: medium ;
    font-family: 'Times New Roman', Times, serif;
    font-display: black;
}

p.directions:hover, p.directions:active {color: red;
    background-color: white;}
.LUD {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-display: green;
    font-size: 100px;
}
.JULIA {
    font-size: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: blue;
}
p.chorus {
    font-size: small;
    font-style: italic;
    color: lightgreen;
}
table.table {
    border: 1cm;
    color: black;
    text-align: center;
    padding: 50px;
  margin: 20px;
}
tr:nth-child(odd) {
    background-color: #8F9AA5;
}

h6.name:hover, h6.name:active { text-shadow: 2px 2px 2px red;
    border: 2px;
    border-color: red;
    border-style: solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li{
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
